<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Vovchenko_PokemonApi::config_pokemon_api" title="Pokemon API" sortOrder="51">
                    <resource id="Vovchenko_PokemonApi::config_pokemon_api_general" title="General Configuration"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
